
@{
    ViewBag.Title = "Hỗ trợ người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-12" id="accordion">
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            Trang hỗ trợ người dùng
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <a href="https://hotro.bitisgroup.vn/" title="Liên hệ với trung tâm hỗ trợ ">Liên hệ với trung tâm để được hỗ trợ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


