
@{
    ViewBag.Title = "Thêm mục tiêu";
}
<head>
    <style>
        /* CSS cho các cột */
        .column {
            text-align:center;
            flex: 1;
            padding: 5px;
            border: 1px solid #ccc;
        }
        .col {
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- Main content -->
    <div class="modal fade" tabindex="-1" role="dialog" id="myModalAdd" aria-labelledby="myModalTitle" aria-hidden="true">
        <div class="modal-dialog my-custom-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectedThangNam">MỤC TIÊU 6S</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="form-group">
                            <label for="ThangNam">Tháng đăng ký</label>
                            <input class="form-control" type="month" required="" id="ThangNam" name="ThangNam">
                        </div>

                        <div class="row header">
                            <div class="col"><strong>Tên phòng ban</strong></div>
                            <div class="col"><strong>Điểm mục tiêu</strong></div>
                            <div class="col"><strong>Hành động</strong></div>
                        </div>

                        <div class="container-fluid" id="tblMucTieuList" style="max-height: 600px; overflow-y: scroll;">
                            <!-- Các dòng trong bảng Mục Tiêu sẽ được thêm vào đây -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button id="btnGuiDuLieu" class="btn btn-outline-success float-right"><i class='fas fa-check'></i> Xác nhận</button>
                        </div>
                        <div id="loading" style="display:none; text-align:center">Đang nạp...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



